.navbar-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;
}

/* .navbar {
  display: flex;
  flex-direction: row;
} */

.title {
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  float: left;
}

.navbar-menu {
  position: absolute;
  right: 0;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-item {
  margin: 25px;
}

.footer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 100%;
}

.layout-container {
  min-height: 100vh;
}

.create-blog-form {
  width: 600px;
  height: 500px;
  margin: auto;
}
.create-blog-form-heading {
  text-align: center;
}

.create-blog-form-title {
  display: block;
  font-size: larger;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-blog-form-input-title {
  width: 100%;
  height: 30px;
}

.create-blog-form-input-description {
  width: 100%;
  height: 50px;
}

.create-blog-form-input-content {
  width: 100%;
  height: 300px;
}

.blog-container {
  border: 1px solid black;
  margin: 10px;
}

.blog-title {
  margin: 10px;
}

.blog-description {
  margin: 10px;
}
